.summary__text {
  font-weight: 500;
  &-value {
    border-bottom: 1px solid black;
    font-weight: 700;
  }
}

@media (min-width: 1025px) {
  // TODO: override
  .m-portlet.m-portlet--full-height {
    // height: calc(100% - 2.2rem - 2.2rem);
    height: auto;
  }

  .m-portlet.m-portlet--full-height .m-portlet__body {
    // height: calc(100% - 2.2rem - 2.2rem - 2.2rem);
    height: auto;
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
  cursor: pointer;
}

// .element-row:not(.expanded) {
//   cursor: pointer;
// }

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

.detail {
  &-img {
    max-width: 200px;
    max-height: 200px;
  }
  &-section {
    padding: 20px !important;
    &-control {
      padding: 10px !important;
    }
  }
}
